@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@250;400;500;600;700&display=swap');

:root {
  --color-secundary: #E9DCBE;
  --color-text: #343434;
  --color-black: #000000;
  --color-header: #E9DCBE;
  --color-footer: #717171;
  --color-background: #F3F3F3  ; 
}

body {
  font-family: 'Poppins', sans-serif;
  color: #ce1a1a;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box; 
}

.section {
  width: 55%; 
  margin: 0 auto; 
  padding: 3rem 0; 
  text-align: center; 
}

.section-title {
  padding-top: 1rem;
  font-size: 36px;
  font-weight: 250;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.section-subtitle {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text);
  margin-bottom: 1rem;
}

.section-paragraph {
  font-size: 13px;
  margin: 1rem auto;
  color: var(--color-text);
  line-height: 1.6;
  text-align: center;
}
.perfil-logo {
  display: block; /* Hace que la imagen se comporte como un bloque */
  margin: 1rem auto; /* Centra la imagen horizontalmente */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}
.footer {
  padding: 0.3rem;
  background-color: var(--color-footer);
  color: #ffffff ; 
  text-align: center;
}

.footer p {
  margin: 0.5rem 0; 
  font-size: 12px; 
}


.nav {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
  padding: 0 1rem; 
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 1rem;
  background-color: var(--color-header);
  color: var(--color-black);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}
.header a{
  font-size: 18px;
}

.nav-left {
  display: flex;
  gap: 1rem; 
}

.nav-right {
  display: flex;
  align-items: center; 
  gap: 0.75rem; 
}

.nav-link {
  color: var(--color-light);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--color-primary);
}

.social-link {
  display: inline-block;
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1); 
}

.perfil-logo {
  /* border-radius: 50%; */
  margin: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}